@import 'reset';

body{
  background:#333;
  font-size:17px;
  line-height:25px;
  color:#fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align:center;
}

.board {
  order: 1;
  width: 490px;
  height: 490px;
  padding: 5px;
  border-radius: 7px;
  outline: none;
  margin: auto;
}

.board .row.first-row {

}

.cell {
  width: 150px;
  height: 150px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #181818;
  cursor: pointer;
}

.tile {
  width: 138px;
  height: 138px;
  padding: 5px;
  background:#333;
}

b-color {
  -webkit-transition:background 1s ease;
  -moz-transition:background 1s ease;
  -o-transition:background 1s ease;
  transition:background 1s ease;
}

.b-orange {
  @extend b-color;
  background: #fe781e;
}

.b-orange:hover {
  @extend b-color;
  background: #e66d1c;
}

.b-purple {
  @extend b-color;
  background: #9b59bb;
}

.b-purple:hover {
  @extend b-color;
  background: #81499c;
}

.b-blue {
  @extend b-color;
  background: #1570a6;
}

.b-blue:hover {
  @extend b-color;
  background: #11608f;
}

.b-green {
  @extend b-color;
  background: #41bb19;
}

.b-green:hover {
  @extend b-color;
  background: #379e15;
}

.b-red {
  @extend b-color;
  background: #ff3738;
}

.b-red:hover {
  @extend b-color;
  background: #e33031;
}

.b-lblue {
  @extend b-color;
  background: #1ba1e2;
}

.b-lblue:hover {
  @extend b-color;
  background: #1789c1;
}

.b-dgreen {
  @extend b-color;
  background: #128023;
}

.b-dgreen:hover {
  background: rgba(18, 128, 35, 0.8);
}

.b-teal {
  @extend b-color;
  background: #00aba9;
}

.b-teal:hover {
  @extend b-color;
  background: rgba(0, 171, 169, 0.8);
}

.overlay {
  position: absolute;
  top: 230px;
  width: 490px;
  height: 490px;
  background-color: rgba(221, 221, 221, 0.5);

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
}

.overlay {
  .message {
    margin-top: 140px;
    line-height: 2;
  }

  .startButton {
    color: #fff;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.score-box {
  height: 175px;
}

.score-box .c100:first-child {
  margin-left: 47px;
}

.c100.dark > span {
  color: inherit;
}

.c100 span.type {
  @extend reset-this;
  bottom: -31px;
  left: 44px;
  position: absolute;
}

.c100 span.type.Percentage {
  left: 22px;
}